/* --- INICIO ---*/

html,
body,
.capa {
    height: 100%;
}


/* --- LAYOUT - ESTRUTURA DO SITE-BARRA NAVEGAÇÃO--- */

.imglogo {
    height: 40px;
    width: 132px;
    display: block;
    background: url(../Img/spotify.svg) no-repeat;
    /* background-color: hotpink;*/
    background-size: contain;
    /* border: 1px solid red;*/
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding-left: 50px;
    padding-right: 50px;
}

.divisor {
    height: 18px;
    width: 1px;
    background: white;
    margin: 10px 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}


/* --- LAYOUT - ESTRUTURA DO SITE-CAPA(BODY) --- */

body {
    background: url(../Img/capa.png), url(../Img/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.capa {
    /*  border: 1px solid red;*/
    display: table;
    width: 100%;
}

.botaocustom {
    color: white;
    border-radius: 500px;
    /* border: 1px solid red; */
    padding: 8px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn-roxo {
    background: #7c26f8;
}

.btn-roxo:hover {
    background-color: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
}


/* --- LAYOUT - ESTRUTURA DO SITE-SERVICOS(BODY) --- */

#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0px 10px 0px;
}


/* --- LAYOUT - ESTRUTURA DO SITE-RECUSROS(BODY) --- */

#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rotacao {
    transform: rotate(30deg);
    padding-left: 80px;
}


/* --- LAYOUT - ESTRUTURA DO SITE-RODAPE --- */

#rodape {
    padding-top: 50px;
    padding-bottom: 50px;
    background: black;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}


/* --- TIPOGRAFIA - FORMATAÇÃO TEXTO --- */


/* --- FORMATAÇÃO TEXTO - CAPA --- */

.textocapa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 90px;
    font-weight: 800;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}


/* --- FORMATAÇÃO TEXTO - SERVICOS-LETREIROS --- */

#servicos h2 {
    font-size: 50px;
    color: #7c26f8;
    font-weight: 700;
    letter-spacing: -0.04em;
    padding-top: 20px;
}

#servicos h3 {
    padding-top: 10px;
    font-size: 35px;
    color: #7c26f8;
    font-weight: 700;
    letter-spacing: -0.04em;
}


/* --- FORMATAÇÃO TEXTO - RECURSOS-LETREIROS --- */

#recursos h2 {
    font-size: 50px;
    color: white;
    font-weight: 700;
    letter-spacing: -0.04em;
    padding-top: 20px;
}

#recursos h3 {
    padding-top: 10px;
    font-size: 35px;
    color: #9bf0e1;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#recursos p {
    font-weight: 700;
    color: white;
}


/* --- FORMATAÇÃO TEXTO - RODAPE-LETREIROS --- */

#rodape h5 {
    padding-top: 10px;
    font-size: 12px;
    color: grey;
    font-weight: 700;
    text-transform: uppercase;
}

#rodape a {
    padding-top: 10px;
    font-size: 12px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#rodape a:hover {
    padding-top: 10px;
    /*padding-left: 20px;*/
    font-size: 12px;
    color: #9bf0e1;
    font-weight: 700;
}

#rodape img {
    padding-left: 45px;
}


/* -- Apenas teste
#verde {}
*/